:root {
    --color-primary: #f7f7f7;
    --color-bg: #0a0a0a;
    --color-bg-2: #808080;
    --color-bg-3: #0f0f0f;
    --color-bg-2-rgb: 128, 128, 128;
    --color-text: #f1f5f9;
    --color-text-2: #808080;
    --color-text-3: #94a3b8;
    --color-border-section-title: #808080;
}