.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;

    background: var(--color-bg);
    backdrop-filter: blur(8px);

    border-bottom: 1px solid rgba(var(--color-bg-2-rgb), 0.2);

    z-index: 1000;
}

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px 0 50px
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--color-text);
    line-height: 1;
}

.logoIcon {
    padding: 5px;
    margin-right: 20px;
    width: 24px;
    height: 24px;
}

/* Nav */
.nav {
    display: flex;
    gap: 40px;
}

.nav a {
    text-decoration: none;
    font-size: 0.85rem;
    letter-spacing: 1px;
    color: var(--color-text);
    transition: all 0.3s ease;
}

.nav a:hover {

    opacity: 0.8;
}

/* Resume Button */
.resumeButton {
    display: flex;
    background: var(--color-bg-2);
    color: var(--color-text);
    border: none;
    border-radius: 3px;
    padding: 8px 20px;
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 1;
    align-items: center;

    cursor: pointer;
    transition: all 0.3s ease;
}

.resumeLogo {
    padding: 5px;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.resumeButton:hover {
    opacity: 0.8;
}